body{
 text-align:center;   
 background-color: black;
}
h1{
 color: white;   

}
#button1 {
    background-color: yellow;
    color:Black;
    padding: 15px;
    display: inline;
}
#button2 {
    background-color: red;
    color:Black;
    padding: 15px;
    display: inline;
}